/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");

* {
	font-family: Roboto, sans-serif;
}

h2 {
	font-family: Poppins, sans-serif;
}
.App {
	/* background-image: linear-gradient(rgb(229 222 212), white); */
	background-color: rgb(229 222 212);
	/* height: calc(100%-5%); */
}

/* Header */
header {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}
#moodring-logo {
	margin-left: 10%;
}
header h1 {
	margin: auto;
	font-family: Belanosima, sans-serif;
}

.logo-svg {
	fill: black;
}

#outter-o-svg {
	animation-name: outter-o-color-trans;
	animation-duration: 10s;
	animation-delay: 1s;
	fill: red;
}

@keyframes outter-o-color-trans {
	0% {
		fill: red;
	}
	17% {
		fill: orange;
	}
	33% {
		fill: yellow;
	}
	49% {
		fill: green;
	}
	66% {
		fill: blue;
	}
	83% {
		fill: purple;
	}
	100% {
		fill: red;
	}
}

#inner-o-svg {
	animation-name: inner-o-color-trans;
	animation-duration: 10s;
	animation-delay: 3s;
	fill: green;
}

@keyframes inner-o-color-trans {
	0% {
		fill: green;
	}
	17% {
		fill: yellow;
	}
	33% {
		fill: orange;
	}
	49% {
		fill: red;
	}
	66% {
		fill: purple;
	}
	83% {
		fill: blue;
	}
	100% {
		fill: green;
	}
}

/* Footer */
footer {
	width: 100%;
	height: 5%;
	margin-bottom: -10px;
}

footer div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

footer h5 {
	margin: 20px 40px;
	text-align: center;
}
footer a:link,
a:visited {
	color: rgb(0 0 0);
}

footer a:hover {
	color: rgb(0 0 255);
}

/* Mood Stats */
#mood-section {
	min-height: 100vh;
}

.stats-desc-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.stats-desc-item {
	background-color: rgb(213 235 244);
	border: 2px solid rgb(17 25 37);
	border-radius: 25px;
	padding: 20px;
	margin: 20px;
	flex-basis: 25vw;
	text-align: left;
}

.mood-container {
	display: flex;
	text-align: center;
	margin: 50px 10px;
	justify-content: space-evenly;
}

.stats-container {
	display: flex;
	flex-direction: column;
}

.graph-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
	height: 100%;
	margin: 20px 10px 0 0;
}
.stat-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(213 235 244);
	border: 2px solid rgb(17 25 37);
	border-radius: 5px;
	margin: 2px;
	height: 150px;
	width: 200px;
}

.stat-item p {
	font-size: 25px;
	font-weight: bold;
	margin: 0;
}

.graph {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(17 25 37);
	border-radius: 10px;
	height: 500px;
	padding: 30px;
	margin-bottom: 10px;
	justify-self: center;
}

/* log mood */
#log-mood-section {
	min-height: 100vh;
	margin: 0 10px;
	padding: 0 20px;
}

#log-mood-section h2 {
	text-align: center;
}

.log-mood-desc {
	background-color: rgb(213 235 244);
	border: 2px solid rgb(17 25 37);
	border-radius: 10px;
	padding: 10px;
	margin: 0 30px;
}

.log-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 40px;
}

.log-container h3 {
	padding: 10px;
	text-align: start;
}

.notes-item p {
	width: 70%;
	margin: 10px;
}
.notes-item textarea {
	width: 50%;
	padding: 10px;
}

/* Mobile */
@media (max-width: 800px) {
	/* header */
	header {
		justify-content: center;
	}
	#moodring-logo {
		margin-left: 0;
	}
	header h1 {
		margin-top: 20px;
		position: static;
	}

	/* footer */
	footer h5 {
		margin: 10px;
	}

	/* mood stats */
	.stats-desc {
		flex-direction: column;
	}

	.stats-desc-item {
		margin: 10px;
		flex-basis: 100vw;
	}

	.mood-container {
		flex-direction: column;
		align-items: center;
	}

	.stats-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: -30px;
	}
	.stat-item {
		width: 40%;
		margin: 10px;
	}
	.graph-container {
		margin: 10px;
		width: 100%;
		height: 50vh;
	}
	.flex-container {
		flex-direction: column;
		align-items: center;
	}
	.container {
		width: 150px;
	}
}
