/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap");

:root {
	--primary-color: rgb(229 222 212);
	--secondary-color: rgb(213 235 244);
	--tertiary-color: rgb(48, 77, 121);
	--highlight: rgb(121, 126, 31);
	--button-color: rgb(17 25 37);
}

* {
	font-family: Roboto, sans-serif;
}

h2 {
	font-family: Poppins, sans-serif;
	font-size: 30px;
}

li {
	font-family: Belanosima, sans-serif;
	font-size: 16px;
}

.App {
	background-image: linear-gradient(var(--primary-color), white);
	background-color: var(--primary-color);
}

/* global variables */
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.error {
	margin: 1em;
}

/* Header */
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 30vh;
	padding: 20px 0;
}
#moodring-logo {
	margin: 10%;
}
header h1 {
	margin: auto;
	font-family: Belanosima, sans-serif;
}

.nav-box {
	margin-right: 3em;
}

#nav {
	margin: 0;
	padding: 0;
	justify-content: space-around;
}

#nav li,
a {
	list-style-type: none;
	text-decoration: none;
	color: var(--tertiary-color);
}

#nav a:hover {
	padding: 0.2rem;
	color: var(--highlight);
	outline: double 2px rgb(112, 29, 29);
}

.logo-svg {
	fill: black;
}

#outter-o-svg {
	animation-name: outter-o-color-trans;
	animation-duration: 10s;
	animation-delay: 1s;
	fill: red;
}

@keyframes outter-o-color-trans {
	0% {
		fill: red;
	}
	17% {
		fill: orange;
	}
	33% {
		fill: yellow;
	}
	49% {
		fill: green;
	}
	66% {
		fill: blue;
	}
	83% {
		fill: purple;
	}
	100% {
		fill: red;
	}
}

#inner-o-svg {
	animation-name: inner-o-color-trans;
	animation-duration: 10s;
	animation-delay: 3s;
	fill: green;
}

@keyframes inner-o-color-trans {
	0% {
		fill: green;
	}
	17% {
		fill: yellow;
	}
	33% {
		fill: orange;
	}
	49% {
		fill: red;
	}
	66% {
		fill: purple;
	}
	83% {
		fill: blue;
	}
	100% {
		fill: green;
	}
}

/* Footer */
footer {
	width: 100%;
	height: 5%;
	margin-bottom: -10px;
}

footer div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

footer h5 {
	margin: 20px 40px;
	text-align: center;
}
footer a:link,
a:visited {
	color: rgb(0 0 0);
}

footer a:hover {
	color: rgb(0 0 255);
}

/* Homepage */
#home-desc {
	height: 100vh;
	padding: 20px;
}

#home h2 {
	margin-bottom: 50px;
}

.home-desc {
	margin: 0 1em;
}

.img-block {
	display: flex;
}

.home-desc img {
	/* display: flex; */
	/* justify-content: center; */
	align-self: center;
	border: 2px solid black;
	border-radius: 0.25rem;
	min-width: 50%;
}

.home-p {
	margin: 4em 1em;
	min-width: 50%;
}

/* Create Account */
#create-acc-sect {
	min-height: 100vh;
	margin-top: 20px;
	padding: 2em;
}

#create-acc-sect h2 {
	margin-top: 50px;
}

#create-acc-form {
	display: flex;
	flex-direction: column;
	background-color: var(--tertiary-color);
	border-radius: 0.25em;
	opacity: 0.8;
	margin: 1em;
	min-height: 20em;
	height: 40em;
}

.create-acc-field {
	border: none;
	padding: 10px;
	height: 90%;
}

.create-acc-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.75em 2em;
	padding: 1em;
	color: var(--primary-color);
}

.create-acc-input {
	width: 50%;
	height: 1.5em;
	padding-right: 1em;
	text-align: right;
	border: 2px inset var(--tertiary-color);
	border-radius: 0.25em;
}

.checkbox {
	justify-content: right;
	margin-top: 3em;
	padding: 0.25em;
}

.checkbox span {
	margin-left: 1em;
}

#create-acc-btn {
	background-color: var(--button-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.25em;
	font-size: 1rem;
	color: var(--primary-color);
	margin: 3rem;
	padding: 1em;
	width: 20%;
}

#create-acc-btn:active {
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
}

/* Mood Stats */
#mood-section {
	min-height: 100vh;
}

.stats-desc-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.stats-desc-item {
	background-color: var(--secondary-color);
	border: 2px solid var(--tertiary-color);
	border-radius: 25px;
	padding: 20px;
	margin: 20px;
	flex-basis: 25vw;
	text-align: left;
}

.mood-container {
	display: flex;
	text-align: center;
	margin: 50px 10px;
	justify-content: space-evenly;
}

.stats-container {
	display: flex;
	flex-direction: column;
}

.graph-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;
	height: 100%;
	margin: 20px 10px 0 0;
}
.stat-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-color);
	border: 2px solid var(--tertiary-color);
	border-radius: 0.25em;
	margin: 2px;
	height: 150px;
	width: 200px;
}

.stat-item p {
	font-size: 25px;
	font-weight: bold;
	margin: 0;
}

.graph {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(17 25 37);
	border-radius: 10px;
	height: 500px;
	padding: 30px;
	margin-bottom: 10px;
	justify-self: center;
}

/* dropdown menu */
.dropdown {
	position: relative;
}

.dropdown > button {
	width: 100px;
}

.dropdown-menu {
	position: absolute;
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
	border: 1px solid grey;
	width: 100px;
}
.dropdown-menu > li {
	margin: 0;
	background-color: white;
}
.dropdown-menu > li:hover {
	background-color: lightblue;
}

.dropdown-menu-item {
	width: 100%;
	height: 100%;
	text-align: left;
	background: none;
	color: inherit;
	padding: 5px 0;
	margin: 0;
	font: inherit;
	cursor: pointer;
	text-align: center;
}

/* log mood */
#log-mood-section {
	min-height: 100vh;
	margin: 0 10px;
	padding: 0 20px;
}

#log-mood-section h2 {
	text-align: center;
}

.log-mood-desc {
	background-color: rgb(213 235 244);
	border: 2px solid var(--tertiary-color);
	border-radius: 10px;
	padding: 10px;
	margin: 0 30px;
}

.log-container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 40px;
}

.log-container h3 {
	padding: 10px;
	margin-top: 0px;
	text-align: start;
}

.notes-item p {
	width: 70%;
	margin: 10px;
}
.notes-item textarea {
	width: 50%;
	padding: 10px;
}

/* Mobile */
@media (max-width: 800px) {
	/* header */
	header {
		justify-content: center;
	}
	header h1 {
		margin-top: 20px;
		position: static;
		text-align: center;
	}

	.nav-box {
		margin: 0;
	}

	/* footer */
	footer h5 {
		margin: 10px;
	}

	/* create account */
	#create-acc-sect {
		padding: 1em;
	}

	.img-block {
		flex-wrap: wrap;
	}

	#home h2 {
		text-align: center;
	}

	.home-p {
		margin: 2em 0;
	}
	.create-acc-form {
		margin: 0;
	}

	.create-acc-label {
		flex-wrap: wrap;
		margin: 0.75em 0;
	}

	.create-acc-input {
		min-width: 100%;
	}

	#create-acc-btn {
		align-self: center;
		margin: 1em;
		padding: 1em;
		width: 90%;
	}

	/* mood stats */
	.stats-desc {
		flex-direction: column;
	}

	.stats-desc-item {
		margin: 10px;
		flex-basis: 100vw;
	}

	.mood-container {
		flex-direction: column;
		align-items: center;
	}

	.stats-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: -30px;
	}
	.stat-item {
		width: 40%;
		margin: 10px;
	}
	.graph-container {
		margin: 10px;
		width: 100%;
		height: 50vh;
	}
	.flex-container {
		flex-direction: column;
		align-items: center;
	}
	/* .container {
		width: 150px;
	} */
}
